.card {
  padding: 2.4rem 1.4rem;
  box-shadow: 0.4rem 2rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border: 1px solid #eef;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }
}
