.header {
  gap: 1rem;
  padding: 1.4rem;
  border-bottom: 1px solid #ddd;

  a {
    color: #222;
    font-size: 1.8rem;
  }

  &,
  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav {
    gap: 2rem;
  }
}
