<header class="header">
  <nav>
    <ul class="header__nav">
      <li>
        <a routerLink="/">Home</a>
      </li>

      <li>
        <a routerLink="/filter-notes">Filter notes</a>
      </li>

      <li>
        <a routerLink="/add-note">Add new note</a>
      </li>
    </ul>
  </nav>
</header>
