<div class="container">
  <div class="form-group" style="margin-bottom: 3.2rem">
    <label class="d-block" for="filter">Filter</label>
    <input type="text" (input)="onFilterInput($event)" id="filter" />
  </div>

  <div class="notes">
    <app-single-note
      *ngFor="let note of filteredNotes"
      [note]="note"
    ></app-single-note>
  </div>
</div>
