<!-- Not <form> because it bugs when there is <form> and I haven't learned yet how to fix it -->
<div class="form container">
  <div class="form-group" style="margin-bottom: 3.2rem">
    <label class="d-block" for="title">Title</label>
    <input type="text" #titleInput id="title" />
  </div>

  <div class="form-group">
    <label class="d-block" for="description">Description</label>
    <textarea #descriptionInput id="description"></textarea>
  </div>

  <button (click)="onAddNote()">Add note</button>
</div>
