/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #333;
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: underline;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

main {
  margin-top: 4.8rem;
}
